@model UniversityApp.Models.Department

@{
    ViewData["Title"] = "Add Department";
}

<h2>Add New Department</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MgrName"></label>
        <input asp-for="MgrName" class="form-control" />
        <span asp-validation-for="MgrName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a asp-action="ShowAll" class="btn btn-secondary mt-2">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
