@model Assignment_day06.ViewModels.StudentCourseVM

<h2>Student Course Result</h2>

<p><strong>Student:</strong> @Model.StudentName</p>
<p><strong>Course:</strong> @Model.CourseName</p>
<p><strong>Degree:</strong> <span style="color:@Model.Color">@Model.Degree</span></p>
